<% layout('layout/boilerplate') %> 


<html>
   <div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1524726240783-939bfdd633e2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form action="/login" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label"for="username">UserName</label>
                            <input class="form-control" id="username" type="text" name="username" placeholder="userName Plz"  required>
                            <div class="valid-feedback">
                                Looks Good!
                            </div>
                        </div>
                
                
                        <div class="mb-3">
                            <label class="form-label"for="password">PassWord</label>
                            <input class="form-control" id="password" type="password" name="password" placeholder="PassWord Plz"  required>
                            <div class="valid-feedback">
                                Looks Good!
                            </div>
                        </div>
                        <button class="btn btn-success">LOG IN</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</html>